*{
    padding: 0;
    margin: 0;
}
.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    grid-template-rows: 500px 500px;
    background-color: black;
    
}
.subgrid-container{
    display: grid;
    gap: 5px;;
    padding: 5px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 250px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}